{
    "name": "mosaia-documentation",
    "description": "Search the Mosaia documentation",
    "schema": {
        "type": "function",
        "function": {
            "name": "mosaia-documentation",
            "description": "Search the Mosaia documentation",
            "strict": true,
            "parameters": {
                "type": "object",
                "properties": {
                    "query": {
                        "type": "string",
                        "description": "The query to search the Mosaia documentation for"
                    }
                },
                "required": [
                    "query"
                ],
                "additionalProperties": false
            }
        }
    },
    "envVars": [
        "GITBOOK_API_KEY",
        "GITBOOK_SPACE_ID"
    ]
}